# Kconfig file for LVGL v9.4.0 and LVGL v8.4.0
choice BR2_PACKAGE_LVGL_VERSION
	prompt "LVGL Version."
	default BR2_PACKAGE_LVGL_VERSION_8
	help
	  Select LVGL version.

	config BR2_PACKAGE_LVGL_VERSION_8
		bool "v8.x"
	config BR2_PACKAGE_LVGL_VERSION_9
		bool "v9.x"
endchoice

source "configs/Config.options"
